"Your character list <%=@user.name%>!"

<%=@charcter.id%> = <%=@character.name%>, <%=@character.type%>, <%=@character.gender%>

<a herf="/character/edit">Edit</a><br>
<a herf="/character/delete">Delete</a>